<a href="https://github.com/johncallahan/ldsigdemo">
<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
</a>
<% if !@data1.blank? && !@doc1.blank? %>
   <pre><%= JSON.pretty_generate(@doc1) %></pre>
   <h1>normalized:</h1>
   <pre><%= @normalized1 %></pre>
   <h1>signed:</h1>
   <pre><%= JSON.pretty_generate(@sig1) %></pre>
   <% if @valid1 %>
     <h1>signature is valid</h1>
   <% else %>
     <h1>signature is invalid</h1>
   <% end %>
<% end %>
<% if !@data2.blank?  && !@doc2.blank? %>
   <hr/>
   <pre><%= JSON.pretty_generate(@doc2) %></pre>
   <h1>normalized:</h1>
   <pre><%= @normalized2 %></pre>
   <h1>signed:</h1>
   <pre><%= JSON.pretty_generate(@sig2) %></pre>
   <% if @valid2 %>
     <h1>signature is valid</h1>
   <% else %>
     <h1>signature is invalid</h1>
   <% end %>
<% end %>
<% if !@data3.blank? && !@doc3.blank? %>
   <hr/>
   <pre><%= JSON.pretty_generate(@doc3) %></pre>
   <h1>normalized:</h1>
   <pre><%= @normalized3 %></pre>
   <h1>signed:</h1>
   <pre><%= JSON.pretty_generate(@sig3) %></pre>
   <% if @valid3 %>
     <h1>signature is valid</h1>
   <% else %>
     <h1>signature is invalid</h1>
   <% end %>
<% end %>
<% if !@data4.blank? && !@doc4.blank? %>
   <hr/>
   <pre><%= JSON.pretty_generate(@doc4) %></pre>
   <h1>normalized:</h1>
   <pre><%= @normalized4 %></pre>
   <h1>signed:</h1>
   <pre><%= JSON.pretty_generate(@sig4) %></pre>
   <% if @valid4 %>
     <h1>signature is valid</h1>
   <% else %>
     <h1>signature is invalid</h1>
   <% end %>
<% end %>
